// Color
$color-primary: #000000;
$color-title: #000000;
$color-hover: #ff5555;
$color-required: #ff5555;
$color-white: #ffffff;

// Background
$background-body: #ffffff;
$background-primary: #333333;
$background-hover: #ff5555;
$background-second: rgba(0, 0, 0, .6);

// Border color
$border-color: #eeeeee;